{{extend 'layout.html'}}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42843577-1', 'markanthonyserrano.com');
  ga('send', 'pageview');

</script>

<div class="section group">
	<h2>// Student Developer</h2>
	<div class="front col span_1_of_3">
		<div style="width:200px; height:400px;">
			{{=IMG(_src=URL('static', 'images/briefcase.png'))}}
			<h3>Take a look around</h3>
			{{=P(T("This is my personal website. Everything is under construction, but please:"))}}
			{{=A("visit my Portfolio page", _class="btn", _href=URL('viewer', 'main'))}}
		</div>
	</div>
	<div class="front col span_1_of_3">
		<div style="width:200px; height:400px;">
			{{if owner():}}
				{{=A(IMG(_src=URL('static', 'images/profilePic.png')), _href=URL('manage', 'home'), _id="secret")}}
			{{else:}}
				{{=IMG(_src=URL('static', 'images/profilePic.png'))}}
			{{pass}}
			<h3>This is me</h3>
			{{=P(T("I'm a student developer currently seeking employment. "), 
				 T("I don't have much job experience, "),
				 T("but I hope my code shows for itself."))}}
		</div>
	</div>

	<div class="front col span_1_of_3">
		<div style="width:200px; height:400px;">
			{{=IMG(_src=URL('static', 'images/contactInfo.png'))}}
			<h3>Scan for contact information</h3>
			<br>
		</div>
	</div>
</div>
