<html>
<body>
<div id="projectModal">
	
	<!-- Upper Thumbnail and Data Area -->
	<div class="container">
	
	  {{=SPAN(IMG(_src=URL('viewer', 'download', args=[post.source.thumbnail])))}}
	  
	  <span style="width:20px"></span>
	  <span class="col">
		<h5>Date of Work: </h5>
			<p>{{=post.date}}</p>
		<br />
		<h5>Source Code: </h5>
			{{if "github.com" in post.repo:}}
				<p>{{=A('Github', _class='btn', _href=post.repo)}}</p>
			{{elif post.repo:}}
				<p>{{=A('Source Link', _class='btn', _href=post.repo)}}</p>
			{{elif post.source.file:}}
				<p>{{=A('Download', _class='btn', _href=URL('download', args=post.source.file))}}</p>
			{{else:}}
				<p class='no'>&nbspnot available</p>
			{{pass}}
	  </span>
	  <span class="col">
		<h5>Category: </h5>
			<p>{{=post.category}}</p>
		<br />
		<h5>Public?</h5>
			{{if post.live:}}
				<p>{{=A('Yes', _class='btn', _href=post.live)}}</p>
			{{else:}}
				<p class='no'>&nbspNo</p>
				
			{{pass}}
	  </span>
	  
	</div>

	<!-- Subheader and Description Area -->
	<div>
		<h5><em>{{=post.subheader}}</em></h5>
		<p>{{=post.description}}</p>
		<br>
	</div>
	
	
	<!-- Footer Tag List Area -->
	<div id="tags">
	<h5>Tags: </h5>
	<table>
	  <tr>
		{{for t in post.tag[:-1]:}}	
			{{=TD(t, _class='tag')}}
			<td></td>
		{{pass}}
		
		{{for o in post.other[:-1]:}}	
			{{=TD(o, _class='tag')}}
			<td></td>
		{{pass}}
	  </tr>
	</table>
	</div>

</div>
</body>
</html>